/*--------Global variables--------*/
:root{
    /*centering sections*/
    --sec-margin: 0 auto;
    --sec-center: 50rem;
    --purple-color: rgba(85, 0, 255, 0.607);
}



/*--------CSS for header--------*/

/*New header*/
header{
    width:100%;
    height: 100%;
    /*CSS Smooth Scroll*/
}

.navbar{
    /*need another property to display at the top (NOT POSITION FIXED*/
    width:100%;
    height: 40px;
    background-color: var(--purple-color);
    z-index: 1;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
    color: #fff;
}

.navbar ul li:hover{
    color: yellow;
    cursor: pointer;
}



/*--------CSS for scrollable background--------*/

.background{
/*Bg img fill viewport, photo scaled, and sent to the back*/
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -5;
}

h2, p {
/*Omits spaces and centers text*/
    margin: var(--sec-margin);
    max-width: var(--sec-center);
}

/*Spacing with-in sections*/
h2{
    padding: 4rem 4rem;
}

/*Spacing with paragraphs*/
p{
    padding: 0 2rem 1rem;
}

/*Allows bg img to show*/
#first-section{
    margin-top: calc(100vh - 6rem);
}

/*Welcome message fixed, centered, and put to the bg*/
h1{
    font-size: 100px;
    color:var(--purple-color);
    position: fixed;
    top: 50%;
    left: 50%;
    text-shadow: 0 0 30px rbg(0 0 0 / 70%);
    transform: translate(-50%, -50%);
    z-index: -4;
    text-align: center;
}



/*--------Section formatting--------*/

.odd-section{
    background-image: linear-gradient(yellow,rgba(242, 242, 149, 0.947));
}

.even-section{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.92),rgb(85, 0, 255));
}


/*--------Profile pic and name section--------*/

#profile-pic{
    width: 250px;
    height:auto;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 50rem;
    margin: var(--sec-margin);
    max-width: var(--sec-center);
    padding-top: 3rem;
}

#name{
    text-align: center;
    font-size: 50px;
}

/*--------About me section--------*/
#about{
    text-align: center;
    font-size: 30;
}

.even-section p {
    text-align: center;
    color: #fff;
}

.even-section h2 {
    color: #fff;
}

/*--------Skills section--------*/

/* Get rid of extra spacing on bottom */
#connector-space {
    padding: 0%;
}

.skills-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#skills{
    align-self: center;
    flex-shrink: 3;
}

.skills-list{
    list-style: none;
    align-self: center;
    column-count: 4;
    flex-wrap: wrap;
    flex-grow: 3;
}

/* Layout of skills items */
.skills-list li{
    border-color: black;
    border-width: medium;
    border: groove;
    text-align: center;
    margin: 4px;
    color: yellow;
    background-image: radial-gradient(var(--purple-color),black);
    border-color: black;
}

/* Hover effect on skill list items */
.skills-list li:hover{
    color: white;
    background-image: radial-gradient(black, rgba(242, 242, 149, 0.947), black);
}


/*--------Project section--------*/
.project-section{
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
}

/*--------Contact me section--------*/

.connect-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#connect{
    align-self: start;
    flex-shrink: 3;
}

.connect-ways{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-grow: 3;
}

/*--------Footer section--------*/

h3{
    padding: 2rem 0 2rem;
    color:aquamarine;
    text-align:center;
}

footer{
    background-image: linear-gradient(rgba(242, 242, 149, 0.947),rgba(0, 0, 0, 0));
}

